<script src="/avons-adventure/js/materialize.min.js"></script>
<script src="/avons-adventure/js/main.js"></script>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Avon's Adventure</h5>
        <p class="grey-text text-lighten-4">An open-source platformer adventure game</p>
        <a class="social-btn" href="//patreon.com/saricden" target="_blank">
          <span class="socicon socicon-patreon"></span>
        </a>
        <a class="social-btn" href="//github.com/saricden/avons-adventure" target="_blank">
          <span class="socicon socicon-github"></span>
        </a>
        <a class="social-btn" href="//instagram.com/saricden" target="_blank">
          <span class="socicon socicon-instagram"></span>
        </a>
        <a class="social-btn" href="//facebook.com/saricden" target="_blank">
          <span class="socicon socicon-facebook"></span>
        </a>
        <a class="social-btn" href="//twitter.com/saricden" target="_blank">
          <span class="socicon socicon-twitter"></span>
        </a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="//saricden.com/" target="_blank">Author's Site</a></li>
          <li><a class="grey-text text-lighten-3" href="//www.instagram.com/saricden/" target="_blank">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="//avons-adventure.netlify.com/" target="_blank">Play V{{ site.version }}</a></li>
          <li><a class="grey-text text-lighten-3" href="//avons-adventure-com.netlify.com/" target="_blank">Play Community Build</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Unless otherwise noted, the Avon's Adventure website, content and game are licensed under:
    <br/>
    <a rel="license" class="grey-text text-lighten-3" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
    </div>
  </div>
</footer>
