<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/avons-adventure/" class="brand-logo">Avon's Adventure</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="btn" href="//avons-adventure.netlify.com" target="_blank">Play v{{ site.version }}</a></li>
            <li><a href="/avons-adventure/blog">Blog</a></li>
            <li><a href="/avons-adventure/resources">Resources</a></li>
            <li><a href="//github.com/saricden/avons-adventure" target="_blank">
              <span class="socicon socicon-github"></span>
            </a></li>
            <li><a href="//www.patreon.com/saricden" target="_blank">
            <span class="socicon socicon-patreon"></span>
          </a></li>
            <li><a href="/avons-adventure/search"><i class="material-icons">search</i></a></li>
          </ul>
        </div>
      </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
      <li><a class="btn" href="//avons-adventure.netlify.com" target="_blank">Play v{{ site.version }}</a></li>
      <li><a href="/avons-adventure/blog">Blog</a></li>
      <li><a href="/avons-adventure/resources">Resources</a></li>
      <li>
        <a href="//github.com/saricden/avons-adventure" target="_blank">
          <!-- <span class="socicon socicon-github"></span> -->
          GitHub
        </a>
      </li>
      <li>
        <a href="//www.patreon.com/saricden" target="_blank">
          <!-- <span class="socicon socicon-patreon"></span> -->
          Patreon
        </a>
      </li>
      <li><a href="/avons-adventure/search"><i class="material-icons">search</i></a></li>
    </ul>

    {{ content }}

    {% include footer.html %}

  </body>

</html>
