---
layout: default
---
<header class="post {{ page.categories[0] }}">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

{% assign page_cat = null %}

{% for post in site.posts %}
  {% if post.key contains page.categories[1] %}
    {% assign page_cat = post %}
  {% endif %}
{% endfor %}

{% assign sectionKey = null %}
{% assign sectionTitle = null %}

{% if page.categories[0] == 'blog' %}
  {% assign sectionKey = 'blog' %}
  {% assign sectionTitle = 'Blog' %}
{% else if page.categories[0] == 'resources' %}
  {% assign sectionKey = 'resources' %}
  {% assign sectionTitle = 'Resources' %}
{% endif %}

<nav>
  <div class="container">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{{ site.baseurl }}/{{ sectionKey }}" class="breadcrumb">{{ sectionTitle }}</a>
        <a href="{{ site.baseurl }}/{{ sectionKey }}/{{ page_cat.key }}/" class="breadcrumb">{{ page_cat.title }}</a>
        <a href="{{ page.url }}" class="breadcrumb">{{ page.title }}</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">

  <article>
    {{ content }}
    <p class="center-align">
      Posted under
      <em>
        {% for cat in page.categories %}
          {% if cat != page.categories[0] %} -&gt; {% endif %}
          {{ cat }}
        {% endfor %}
      </em>
      on
      <time datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </article>

</div>
